.video {
	position: relative;
	height: 100%;
}

.video .localVideo {
    width: 50% !important;
    height: 100% !important;
}

.video .partnerVideo {
    /* bottom: 0; */
    position: absolute;
    float: right;
    /* right: 0; */
    left: 0;
    width: 150px;
    height: 100px;
    z-index: 2;
}

.video .box {
    height: 100%;
}
